<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.BaseMapper">
<!--    <select id="selectTagByAttr" resultType="java.util.Map">-->
<!--        match (n:Instance:测点)-[:CHILD_NODE]->(m:特征) where id(m)=#{attrId}  return distinct-->
<!--            id(n) as id, n.名称 as 名称, n.编码 as 编码, n.描述 as 描述, n.类别 as 类别, n.单位 as 单位-->
<!--    </select>-->

    <select id="selectTagByAttr" resultType="java.util.Map">
        MATCH (m:特征)-[:REFERENCE_SHADOW]->(i:Instance:`特征`)
            WHERE id(m) = #{attrId}
            WITH id(i) AS instanceId

        MATCH (n:Instance:测点)-[:CHILD_NODE]->(m2:特征)
            WHERE id(m2) = instanceId

            RETURN DISTINCT id(n) AS id, n.名称 AS 名称, n.编码 AS 编码, n.描述 AS 描述, n.类别 AS 类别, n.单位 AS 单位
    </select>

    <select id="selectUnitsOrAssetsPropsByInstanceName" resultType="java.util.Map">
        MATCH (n:Instance:测点)-[:CHILD_NODE]->(attr:Instance:特征)-[:CHILD_NODE]->(bj:Instance:部件)-[:CHILD_NODE*0..]->(sb:Instance:设备)
        -[:CHILD_NODE*0..]->(zxt:Instance:子系统)-[:CHILD_NODE*0..]->(jz:Instance:机组)
        <if test="assetName != null and assetName != ''">
            where sb.名称 contains #{assetName}
        </if>
        <if test="unitName != null and unitName != ''">
            where jz.名称 contains #{unitName}
        </if>
        return distinct
            n.源标签点名 as srcTagName, n.名称 as tagName, n.编码 as tagCode, n.源标签点描述 as tagDesc, n.类别 as tagType, n.单位 as tagUnit,
            attr.名称 as attrName, attr.编码 as attrCode, attr.描述 as attrDesc, attr.类别 as attrType, attr.单位 as attrUnit,
            bj.名称 as partName, bj.编码 as partCode, bj.描述 as partDesc, id(bj) as partId,
            sb.名称 as assetName, sb.编码 as assetCode, sb.描述 as assetDesc, id(sb) as assetId,
            zxt.名称 as subSystemName, zxt.编码 as subSystemCode, zxt.描述 as subSystemDesc, id(zxt) as subSystemId,
            jz.名称 as unitName, jz.编码 as unitCode, jz.描述 as unitDesc, id(jz) as unitId
    </select>
    <select id="getItems" resultType="java.util.Map">
        MATCH (n:Instance)-[:CHILD_NODE*0..]->(m)
        WHERE id(m) = #{unitId} AND n:${type}
        RETURN properties(n) AS item
    </select>
    <select id="getTagInfosByName" resultType="java.util.Map">
        MATCH (n:测点:Instance)
        WHERE n.名称 contains #{name}
        RETURN properties(n) AS item
    </select>
    <select id="getTagInfosByTTS" resultType="java.util.Map">
        MATCH (n:测点:Instance)
        WHERE 1=1
        <if test="tagId != null">
            AND id(n) = #{tagId}
        </if>
        <if test="tagName != null">
            AND n.编码 = #{tagName}
        </if>
        <if test="srcTagName != null">
            AND n.源标签点名 = #{srcTagName}
        </if>
        RETURN properties(n) AS item
    </select>
    <select id="getTagPathsByTTS" resultType="java.util.Map">
        MATCH p = (a)-[:CHILD_NODE]->(b:特征:Instance)-[:CHILD_NODE*0..]->(c:机组:Instance)
        WHERE 1=1
        AND none(nod in nodes(p) where nod:故障模式)
        AND none(nod in nodes(p) where nod:预警模型)
        <if test="tagId != null">
            AND id(a) = #{tagId}
        </if>
        <if test="tagName != null">
            AND a.编码 = #{tagName}
        </if>
        <if test="srcTagName != null">
            AND a.源标签点名 = #{srcTagName}
        </if>
        WITH p, toString(id(NODES(p)[0])) + '-' + toString(length(p)) AS pathId
        UNWIND RANGE(0, length(p)) AS nodeIndex
        WITH pathId, nodeIndex, NODES(p)[nodeIndex] AS n
        RETURN
            pathId,
            nodeIndex,
            id(n) AS nodeId,
            n.名称 AS nodeName
    </select>
    <select id="getSubSystemIdByTTS" resultType="java.lang.Integer">
        MATCH (a)-[:CHILD_NODE*0..]->(c:子系统:Instance)
        WHERE 1=1
        <if test="tagId != null">
            AND id(a) = #{tagId}
        </if>
        <if test="tagName != null">
            AND a.编码 = #{tagName}
        </if>
        <if test="srcTagName != null">
            AND a.源标签点名 = #{srcTagName}
        </if>
        return id(c) limit 1
    </select>
</mapper>
